<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Editar Ingrediente</title>
</head>
<body>
	<h1>Editar Ingrediente</h1>

	<form th:action="@{'/ingredientes/editar/' + ${ingrediente.id}}"
		th:object="${ingrediente}" method="post">
		<label>Nombre:</label> <input type="text" th:field="*{nombre}"
			required><br> <br> <label>Calorías:</label> <input
			type="number" th:field="*{calorias}" required><br> <br>
		<button type="submit">Guardar</button>
		<a th:href="@{/ingredientes}">
			<button type="button">Cancelar</button>
		</a>
	</form>

</body>
</html>
