<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Editar Ingrediente</title>
</head>
<body>
	<h1>Editar Ingrediente</h1>
	<form th:action="@{/ingredientes/editar/{id}(id=${ingrediente.id})}" method="post">
		<input type="number" th:value="${ingrediente.calorias}" name="calorias" id="calorias" placeholder="Calorias"><br>
		<input type="text" th:value="${ingrediente.nombre}" name="nombre" id="nombre" placeholder="Nombre"><br>
		<button type="submit">Guardar</button>
		<button type="button"><a th:href="@{/ingredientes}">Cancelar</a></button>
	</form>
</body>
</html>
