<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h1 th:text="${mensaje}"> texto por defecto</h1>
	
	<p th:utext="${nombre}"> hola </p>
	
	 <!--  <img th:src="@{./images/flor.jpg}" alt="arbol de navidad">-->
	
	<a th:href="@{/}">Ir a index</a>
	
	<p th:if="${rol=='admin'}">Es administrador</p>
	
	<p th:if="${rol!='admin'}">No es administrador</p>
	
	<ul>
		<li th:each="nombre: ${nombres}" th:text="${nombre}"></li>
	</ul>
	
	<a th:href="@{/form}">Ir a form</a>


</body>
</html>