<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>


	<table>
		<tr>
			<th>ID</th>
			<th>Nombre</th>
			<th>Ciudad</th>
			<th>Acciones</th>
		</tr>
		<tr th:each="cliente : ${clientes}">
			<td th:text = "${cliente.id}"></td>
			<td th:text = "${cliente.nombre}"></td>
			<td th:text = "${cliente.direccion.ciudad}"></td>
			<td>
				<a th:href="@{/ver/{id}(id=${cliente.id})}">Ver cliente</a>
			</td>
		</tr>
	</table>
	<a th:href="@{/agregar}">Agregar cliente</a>
	
	<a th:href="@{/provincia}">Buscar por provincia</a>		
</body>
</html>