<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form th:action="@{/buscarPorDuracion}" method="post"> <!-- TE REDIRIGE A DODNE QUIERES -->
		<input type="text" id="duracion" name="duracion" placeholder="Ingresa una duracion" /><!-- SUBMIT: Te MANDA A CONTROLLER -->
		<button type="submit">Buscar</button>
	</form>
	<ol th:each="ins : ${lista1}">
		<li th:text="${ins.detalle.duracionHoras}"></li>
		<li th:text="${ins.codigo}"></li>
	</ol>	
	<button type="button"><a th:href="@{/}">Cancelar</a></button>
</body>
</html>